extends layout

block content   
  script.
    $(document).ready(function(){
      console.log('masternodes table');
      var ctable = $('#masternodes-table').dataTable( {
        fnRowCallback: function(row, data, index){
          if( data.enabled == "Enabled" ) {
            $('td:eq(3)', row).css('color', 'green');
          } else {
            $('td:eq(3)', row).css('color', 'red');
            $('td:eq(3)', row).css('font-weight', 'bold');
          }
        },
        autoWidth: true,
        searching: true,
        ordering: true,
        responsive: true,
        lengthChange: true,
        processing: false,
        bPaginate: true,
        pageLength: 25,
        order: [[ 1, "asc" ]],
        ajax: {
          url: '/ext/lindamasternodes',
          dataSrc: function ( json ) {
            for ( var i=0;i<json.data.length; i++ ) {
              json.data[i]['rank'] = json.data[i]['rank'];
              json.data[i]['pubkey'] = "<a href='/address/" + json.data[i]['pubkey'] + "'>" + json.data[i]['pubkey'] + "</a>";
              json.data[i]['address'] = json.data[i]['address'];
              if (json.data[i]['enabled']){
                if (json.data[i]['enabled'] == 1){
                  json.data[i]['enabled'] = "Enabled";
                } else {
                  json.data[i]['enabled'] = "Disabled";
                }
              }
              json.data[i]['lastTimeSeen'] = new Date((json.data[i]['lastTimeSeen']) * 1000).toLocaleString();
              if (json.data[i]['activeseconds']){
                var seconds = json.data[i]['activeseconds'];
                var days = Math.floor(seconds / (3600*24));
                seconds -= days*3600*24;
                var hrs = Math.floor(seconds / 3600);
                seconds -= hrs*3600;
                var mnts = Math.floor(seconds / 60);
                seconds -= mnts*60;
                json.data[i]['activeseconds'] = days + " Days, " + hrs + " Hours, " + mnts + " Minutes ";
              } else {
                json.data[i]['activeseconds'] = '<em>not available</em>';
              }
            }
            return json.data;
          }
        },
        columns: [
          { data: 'rank', width: '15%', className: 'text-center' },
          { data: 'pubkey', width: '25%', className: 'text-center' },
          { data: 'address', width: '15%' },
          { data: 'enabled', width: '8%' },
          { data: 'lastTimeSeen', width:'15%' },
          { data: 'activeseconds', width:'25%' },
        ]
      });
      setInterval( function () {
        ctable.api().ajax.reload(null, false);
      }, 60000 );
    });
  script(src='/javascripts/ads.js')
  .col-md-12(style="margin-bottom: 4%;margin-top: 1%")
    .panel.panel-default
      .panel-heading
        strong #{settings.locale.net_masternodes}
      table#masternodes-table.table.table-bordered.table-striped
        thead
          tr
            th #{settings.locale.mn_rank}
            th.text-center #{settings.locale.mn_pubkey}
            th.text-center #{settings.locale.mn_address}
            th.text-center #{settings.locale.mn_enabled}
            th.text-center #{settings.locale.mn_lastseen}
            th.text-center #{settings.locale.mn_activeseconds}
        tbody.text-center
